@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>My favourite movies</h1>
<hr />
<div class="row mb-2">
    <div class="col-8">
        <h2>Avengers: Infinity Wars</h2>
        <p>The Avengers must stop Thanos, an intergalactic warlord, from getting his hands on all the infinity stones. However, Thanos is prepared to go to any lengths to carry out his insane plan.</p>
    </div>
    <div class="col-4">
        <img src="~/img/avengersinfinitywar.jpg"/>
    </div>
    </div>
<div class="row mb-2">
    <div class="col-8">
        <h2>Avengers: Endgame</h2>
        <p>After Thanos, an intergalactic warlord, disintegrates half of the universe, the Avengers must reunite and assemble again to reinvigorate their trounced allies and restore balance.</p>
    </div>
    <div class="col-4">
        <img src="~/img/avengersendgame.jpg"/>
    </div>
</div>